.largest-font {
    font-size: 6rem;
}

.larger-font {
    font-size: 5rem;
}

.large-font {
    font-size: 4rem;
}

.normal-font {
    font-size: 3rem;
}

.small-font {
    font-size: 2rem;
}

.smaller-font {
    font-size: 1rem;
}

.smallest-font {
    font-size: 0.5rem;
}

.center-text {
    text-align: center;
}

body {
    background: url(../img/tree.jpg) fixed;
    background-size: cover;
}

.container {
    margin-top: 40px;
}

article {
    padding: 10px;
}

#login-entry {
    margin-left: 15px;
}

.navbar-text {
    color: #fdecee;
}

.white-bg {
    background: white;
}

.shadow {
    box-shadow: 5px 5px 4px #888888;
}
